
.select {
    border: 2px solid darkblue;
    border-radius: 5px;
    -webkit-appearance: none;
}
.select::-ms-expand{
  display:none;
}
.stbutton {
    margin: 0px 0px 10px 0px;
    background-color: #2ba6cb !important;
    text-align: left !important;
    width: 250px;
    height: 40px;
    border-radius: 3px 3px 10px 3px;
}

.contact_form ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}

*:focus {
    outline: none;
}

.contact_form li:first-child, .contact_form li:last-child {
    border-bottom: 1px solid #777;
}

.contact_form h2 {
    margin: 0;
    display: inline;
}

.required_notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}

.contact_form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.contact_form input {
    height: 30px;
    width: 300px;
    padding: 5px 8px;
}

.contact_form textarea {
    padding: 8px;
    width: 300px;
}

.contact_form input, .contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
}

    .contact_form input:focus, .contact_form textarea:focus {
        background: #fff;
        border: 1px solid #555;
        box-shadow: 0 0 3px #aaa;
    }

.contact_form input, .contact_form textarea {
    padding-right: 30px;
}

    .contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
        background: #fff url(images/invalid.png) no-repeat 98% center;
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535;
    }

body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.form_hint, .required_notification {
    font-size: 11px;
}
