<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="tiedosto" value="App_Data\Työntekijät2013.xml"/>
    
    <!-- K-S Ikkuna ja Aukko, ikkuna laskurin tiedot-->
    <add key="KS_KATE" value="30"/> <!-- kate prosentti-->
    <add key="KS_LASINELIÖHINTA" value="45"/>
    <add key="KS_ALUMIINIKARMIMETRIHINTA" value="100"/>
    <add key="KS_HÄVIKKI" value="150"/>
    <!-- K-S Ikkuna ja Aukko, ikkuna laskurin tiedot-->
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>